@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {	
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('img/BACKGROUND.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
a   {text-decoration: none;}
input {outline: none; border: none; }

.container {
	text-align: center;
}

form {	
	position: relative;
	box-sizing: border-box;
	padding: 36px;
   	max-width: 295px;
   	width: 100%;
    border-radius: 20px;
    background-color: #ffff;
    
   	background: rgba(225,225,225,.1);

}
form .sin {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #898885;
	font-weight: 500;
	font-size: 24px;
	text-align: center;

}

form:before {
	content: '';
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
	width: 67px;
	height: 67px;
	background-image: url('img/3-layers.png');
	background-blend-mode: darken;
	/*opacity: .5;*/
}

.user {
	background-image: url(img/1-laters.png);
	background-repeat: no-repeat; 
    background-position: 15px;   
    outline: none; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
    border-radius: 5px;  
    padding-left: 50px;   
    height: 46px;  
    font-size: 13px; 
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.pass {
	background-image: url(img/2-layers.png);
	background-repeat: no-repeat; 
    background-position: 15px; 
    outline: none;  
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;  
    padding-left: 50px; 
    height: 46px; 
    font-size: 13px; 
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.butt{
	width: 225px;
	height: 47px;
	background-color: #282a13;
	border-radius: 5px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	box-sizing: border-box;
}

.remember-me {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.remember-me .checkbox-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remember-me .checkbox {
	background: #ffffff;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	outline: none;
	margin-right: 8px;
}
.remember-me span {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;

}
.remember-me .Forgot {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
}
hr {
	margin-top: 37px;
	height: 1px;
	background-color: white;
}
p { 
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.35px;

}

p .registr-here {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid #45a5bf;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

img {
	margin-top: 30px;
}
